body {
    background: #404040;
    color: #f8f8f8;
    font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif;
  }

  .sidebar {
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1571767454098-246b94fbcf70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8aG9wc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60);
    background-size: cover;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    }

  .welcome {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 40px;
  }

  #get-started {
    color: white;
  }
    
  
  #map {
    border-left: 1px solid #fff;
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
  }

  .mapboxgl-popup {
    max-width: 200px;
    color: #404040;
    }

 .marker {
      background-image: url('icons8-bar-40.png');
      background-size: cover;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
  }

  .modal {
    color: black;
    text-align: left;
  }

  input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-color: #fff;
    color: white;
    outline: none;
}

::placeholder {
  color: white;
  opacity: 0.75;
}

.nav-item {
  font-family: 'Lobster', cursive;
  color: white;
}

.mapboxgl-ctrl-geocoder--input::placeholder {
  color: black !important;
}

  

  
    